.about-main-sec{
    height: 100vh;
    
}
.left-line {
  top: 20px;
  left: 0;
  z-index: -1;
}
.right-line {
  top: 250px;
  right: 0;
  z-index: -1;
}
.comp-illu {
  top: 550px;
  right: 220px;
  z-index: 10 !important;
}

.listItem {
  font-weight: bold;
  font-size: 500;
}
.about-section {
  height: 100vh;
}
.man-illu {
  top: 10px;
  width: 30%;
}
@media only screen and (max-width: 890px) {
  .man-illu {
    top: 40px;
    width: 30%;
  }
  .left-line {
    width: 32%;
  }
  .right-line {
    width: 32%;
    top: 300px;
  }
  .comp-illu {
    top: 550px;
    right: 2%;
    width: 30%;
    z-index: 10 !important;
  }
}
@media only screen and (max-width: 490px) {
  .comp-illu,
  .right-line,
  .left-line,
  .man-illu {
    display: none;
  }
}
